#blog-section {
    padding: 100px 15px;
    background: #f9fafc;
}
#blog-section .title h1{
    font-size: 4rem;
    text-align: center;
    font-weight: 900;
    margin-bottom: 80px;
    text-transform: uppercase;
}

#blog-section .blog-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 588px 588px;
    grid-gap: 15px;
    overflow: hidden;
}


#blog-section .blog-container .post{
    position: relative;
    transition: all .4s ease-in-out;
    cursor: pointer;
    height: 100%;
    overflow: hidden;
}
#blog-section .blog-container .post .post-img{
    height: 100%;
    width: 100%;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-color: #f2f3f5 !important;
}

#blog-section .blog-container .post .details{
    background: white;
    padding: 35px;
    position: absolute;
    top: 100%;
    width: 100%;
    transform: translate3d(0, -200px, 0);
    transition: all .4s ease-in-out;
}
#blog-section .blog-container .post .details h4{
    font-size: 1.1rem;
    color: #13171a;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 1.8rem;
}
#blog-section .blog-container .post .details p{
    font-size: 1rem;
    color: #919191;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 1.8rem;
    line-height: 1.5;
}

#blog-section .blog-container .post .more{
    position: absolute;
    z-index: 3;
    width: 100%;
    bottom: 0;
    background: white;
    padding: 35px;
}
#blog-section .blog-container .post .more .button{
    font-size: 1.3rem;
    color: #13171a;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1.5;
    display: inline-block;
    border-bottom: 2px solid #ff5253;
    text-transform: uppercase;
    padding-bottom: 10px;
    transition: all .4s ease-in-out .1s;
    opacity: 0;
    transform: translate3d(0, 40px, 0);
}

/* hover effect on post */
#blog-section .blog-container .post:hover .details{
    transform: translate3d(0, -588px, 0);
} 

#blog-section .blog-container .post:hover .more .button{
    color: #ff5253;
    opacity: 1;
    transform: translate3d(0, 0, 0);
} 