@import "cssreset.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700&display=swap');
@import "top-section.css";
@import "services-section.css";
@import "portfolio-section.css";
@import "experience-section.css";
@import "blog-section.css";
@import "testimonials-section.css";
@import "footer-section.css";






.container {
    max-width: 1150px;
    margin: 0 auto;
}

@media only screen and (max-width: 960px) {
    .container {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {

}