@import "cssreset.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700&display=swap');
@import "top-section.css";

.container {
    max-width: 1400px;
    margin: 0 auto;
}