#top {

} 

#top .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 80px 0;
}

#top .info{
    padding: 15px;
} 


#top .info h1{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #161710;
    /* https://www.quora.com/What-does-it-mean-when-someone-refers-to-a-flat-color-What-is-the-difference-from-a-non-flat-color */
    margin-bottom: 2rem;
} 

#top .info p{
    color: #919191;
    text-transform: capitalize;
    margin-bottom: 4rem;
}

#top .info a{
    color: #161710;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 2px solid #000;
}



#top .img{

} 


#top .img .background-img{
    background: url('../img/user-img.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 700px;
    height: 800px;
} 
